<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Owner list</title>
</head>
<body>
	<h1 th:text="'Owner List'">insert pls</h1>
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>First Name</th>
				<th>Last Name</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="owner : ${owners}">
				<td th:text="${owner.id}">show id</td>
				<td th:text="${owner.firstName}">show firstname</td>
				<td th:text="${owner.lastName}">show lastname</td>
			</tr>
		</tbody>
	</table>
</body>
</html>